# Virtual environment
venv/

# Environment variables
.env

# SQLite database
*.sqlite3

# macOS
.DS_Store

# Python cache files
__pycache__/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Keys and Secrets
*.pem
*.jwk
.yaml
etc/

# Django setting
settings.py

# IDE settings 
.vscode/
