files:
  "/etc/systemd/system/web.service":
    mode: "0644"
    owner: root
    group: root
    content: |
      [Service]
      User=webapp
      Type=simple
      ExecStart=/var/app/venv/bin/gunicorn vugle_health.wsgi:application --bind 0.0.0.0:8000
      WorkingDirectory=/var/app/current/
      Restart=always

commands:
  01_update_permissions:
    command: |
      sudo chown -R webapp:webapp /var/app/current /var/app/venv
      sudo chmod -R 775 /var/app/current /var/app/venv
  02_reload_services:
    command: |
      sudo systemctl daemon-reload
      sudo systemctl restart web.service
