option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: vugle_health.wsgi:application
  aws:ec2:metadata:
    DisableIMDSv1: true

commands:
  01_remove_venv:
    command: "sudo rm -rf /var/app/venv"
    ignoreErrors: true

  02_create_venv_dir:
    command: |
      sudo mkdir -p /var/app/venv && \
      sudo chown -R webapp:webapp /var/app/venv && \
      sudo chmod -R 775 /var/app/venv

  03_create_virtualenv:
    command: "sudo -u webapp python3 -m venv /var/app/venv"

  04_install_requirements:
    command: |
      sudo -u webapp bash -c "
      source /var/app/venv/*/bin/activate && \
      cd /var/app/current && \
      pip install -r requirements.txt"

  05_web_service_update:
    command: |
      sudo sed -i 's|ExecStart=.*|ExecStart=/var/app/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 vugle_health.wsgi:application|' /etc/systemd/system/web.service && \
      sudo systemctl daemon-reload

  


container_commands:
  01_reload_systemd:
    command: "sudo systemctl daemon-reload && sudo systemctl restart web.service"

  02_run_migrations:
    command: |
      sudo chown -R webapp:webapp /var/app && \
      sudo chmod -R 775 /var/app && \
      sudo -u webapp bash -c "
      source /var/app/venv/*/bin/activate && \
      cd /var/app/current && \
      python manage.py migrate --noinput" && \
      sudo systemctl restart web.service