option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: vugle_health.wsgi:application

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: 1 
      MaxSize: 4  
      LaunchTemplate:
        LaunchTemplateName: vugle-template 
        Version: $Default 
