Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateName: !Sub "${AWS::StackName}-launch-template"
        Version: !Ref AWSEBLaunchTemplateVersion
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub "${AWS::StackName}-launch-template"
      LaunchTemplateData:
        InstanceType: t2.micro  # Update based on your instance type preference
        KeyName: your-key-name  # Replace with your key name or remove if not using SSH
        SecurityGroupIds: 
          - !Ref AWSEBSecurityGroup
        ImageId: ami-00000000000000000  # Replace with the latest Amazon Linux 2023 AMI ID for your region
